*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    list-style: none;
    text-decoration: none;
}
header{
    right: 0;
    top: -20;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

body{
    background: linear-gradient(245.59deg, #3c68a4 0%, #224779 28.53%, #0b2447 75.52%);
}

.logo{
    font-size: 40px;
    font-weight: 700;
    color: #fafafa;
}

.menu_items{
    display: flex;
}
.menu_items a{
    color: #fafafa;
    margin-left: 40px;
    font-size: 40px;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    white-space: nowrap;
}
.menu_items a:hover{
    color: #ffd411;
}

#barrinhas{
    color: #fafafa;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.habilidades{
    padding-top: 15px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}

.skill{
    padding: 1rem;
    color: #fafafa;
    cursor: pointer;
}

.nome_skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    color: #fafafa;
    margin: 0.5rem;
}

.skill_icon{
    width: 50px;
}

.skill p{
    font-size: smaller;
    font-weight: 200;
}